/** @format */
.storyImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  padding: 1.5px;
  margin: 0 4px;
  border: 1px solid rgba(223, 52, 22, 0.849);
}
.storyUserName {
  font-size: 14px;
}
/* styling of post div below */

.post {
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 40px 0;
  /* height: 700px; */
}

.post_header {
  display: flex;
  align-items: center;
  padding: 5px;
}
.personImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: contain;
  padding: 1.5px;
}
.personName {
  flex: 1;
  margin-left: 5px;
  font-weight: bold;
}
.messageImg {
  height: 590px;
  width: 100%;
  object-fit: cover;
}
.bookMark {
  margin: 0 5px;
  position: absolute;
  right: 5px;
}
.reactionsDiv {
  align-items: center;
  display: flex;
  margin: 0 5px;
  justify-content: space-between;
  width: 14%;
}
.captionDiv {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 3px;
  margin-bottom: 4px;
}
.captionName {
  margin-right: 8px;
  font-weight: bold;
}
.form {
  display: flex;
  align-items: center;
  padding: 10px;
}
.formInput {
  flex: 1;
  outline: none;
  background: none;
  margin: 0 7px;
}

/* mini profile styling */
.profileDiv {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile {
  margin-right: 16px;
}
.span {
  font-size: 13px;
  font-weight: bold;
  color: gray;
}
.p {
  font-size: 15px;
  margin-bottom: -4px;
  font-weight: bold;
}
.profileImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 6px;
}
.signOutBtn {
  font-weight: bold;
  color: rgb(58, 159, 226);
}
.suggestionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.h3 {
  color: gray;
  font-weight: bold;
  font-size: 16px;
}
.see {
  font-weight: bold;
}
.suggestion {
  margin-top: 20px;
}

.suggestionImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 6px;
  object-fit: contain;
}
.suggestionName{
   font-size: 13px;
  font-weight: bold;
  margin-bottom: -7px;
}
.followBtn{
  font-weight: bold;
  color: rgb(58, 159, 226);
   font-size: 15px;

}